<footer class="footer">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
      <h6>General info</h6>
      <ul class="footer__list">
        <li>About us</li>
        <li>Betting rules</li>
        <li>Affiliates</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
      <h6>Best off</h6>
      <ul class="footer__list">
        <li>Promotions</li>
        <li>Casino Games</li>
        <li>Results</li>
        <li>Statistics</li>
      </ul>
    </div>
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
      <h6>Security & Privacy</h6>
      <ul class="footer__list">
        <li>Terms & Conditions</li>
        <li>Responsible Gaming</li>
        <li>Privacy & Cookie Policy</li>
        <li>Security</li>
      </ul>
    </div>
    <div class="col-xl-6 col-lg-3 col-md-12 col-sm-12">
      <div class="footer__logo">
        <img src="../../../assets/icons/facebook.svg"/>
        <img src="../../../assets/icons/instagram.svg"/>
        <img src="../../../assets/icons/linkedin.svg"/>
        <img src="../../../assets/icons/twitter.svg"/>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-xl-12">
      <p>Casino - You never know when Lady Luck may visit you, At Hyper Casino, the mission is in our name. In a world
        full of complexities, it is our desire to bring you pure, unadulterated entertainment. We realize that our
        players crave excitement and exhilaration, and we are more than willing to deliver on this request.
      </p>
      <p>Casino - You never know when Lady Luck may visit you, At Hyper Casino, the mission is in our name. In a world
        full of complexities, it is our desire to bring you pure, unadulterated entertainment. We realize that our
        players crave excitement and exhilaration, and we are more than willing to deliver on this request.
      </p>
      <p>Casino - You never know when Lady Luck may visit you, At Hyper Casino, the mission is in our name. In a world
        full of complexities, it is our desire to bring you pure, unadulterated entertainment. We realize that our
        players crave excitement and exhilaration, and we are more than willing to deliver on this request.
      </p>
      <p>Casino - You never know when Lady Luck may visit you, At Hyper Casino, the mission is in our name. In a world
        full of complexities, it is our desire to bring you pure, unadulterated entertainment. We realize that our
        players crave excitement and exhilaration, and we are more than willing to deliver on this request.
      </p>
      <p>Casino - You never know when Lady Luck may visit you, At Hyper Casino, the mission is in our name. In a world
        full of complexities, it is our desire to bring you pure, unadulterated entertainment. We realize that our
        players crave excitement and exhilaration, and we are more than willing to deliver on this request.
      </p>
      <p>Casino - You never know when Lady Luck may visit you, At Hyper Casino, the mission is in our name. In a world
        full of complexities, it is our desire to bring you pure, unadulterated entertainment. We realize that our
        players crave excitement and exhilaration, and we are more than willing to deliver on this request.
      </p>
      <p>Casino - You never know when Lady Luck may visit you, At Hyper Casino, the mission is in our name. In a world
        full of complexities, it is our desire to bring you pure, unadulterated entertainment. We realize that our
        players crave excitement and exhilaration, and we are more than willing to deliver on this request.
      </p>
    </div>
  </div>
</footer>
